<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo pessoa:</strong>
  <%= @cliente.tipo_pessoa %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cliente.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @cliente.numero %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @cliente.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @cliente.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cliente.estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @cliente.cep %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Ddd fone:</strong>
  <%= @cliente.ddd_fone %>
</p>

<p>
  <strong>Fone:</strong>
  <%= @cliente.fone %>
</p>

<p>
  <strong>Ddd celular:</strong>
  <%= @cliente.ddd_celular %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @cliente.celular %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cliente.status %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @cliente.data_nascimento %>
</p>

<p>
  <strong>Referc1:</strong>
  <%= @cliente.referc1 %>
</p>

<p>
  <strong>Ddd referc1:</strong>
  <%= @cliente.ddd_referc1 %>
</p>

<p>
  <strong>Fone referc1:</strong>
  <%= @cliente.fone_referc1 %>
</p>

<p>
  <strong>Nome razao:</strong>
  <%= @cliente.nome_razao %>
</p>

<p>
  <strong>Fantasia:</strong>
  <%= @cliente.fantasia %>
</p>

<p>
  <strong>Cpf cnpj:</strong>
  <%= @cliente.cpf_cnpj %>
</p>

<p>
  <strong>Rg ie:</strong>
  <%= @cliente.rg_ie %>
</p>

<p>
  <strong>Alterado:</strong>
  <%= @cliente.alterado %>
</p>

<p>
  <strong>Cod uf:</strong>
  <%= @cliente.cod_uf %>
</p>

<p>
  <strong>Cod mun:</strong>
  <%= @cliente.cod_mun %>
</p>

<p>
  <strong>Liberado:</strong>
  <%= @cliente.liberado %>
</p>

<p>
  <strong>Limite credito:</strong>
  <%= @cliente.limite_credito %>
</p>

<p>
  <strong>Limite dias:</strong>
  <%= @cliente.limite_dias %>
</p>

<p>
  <strong>Bloqueios:</strong>
  <%= @cliente.bloqueios %>
</p>

<p>
  <strong>Planospagamento:</strong>
  <%= @cliente.planospagamento %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
